ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}
img { 
  display: block; 
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}
a,
button {
  text-decoration: none;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
}
.container {
  margin: auto;
  padding: 0 15px;
  max-width: 1158px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
}
.portfolio-descr,
.team-member-job,
.feature-descr,
.nav-address-link {
  color: #434455;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  letter-spacing: 0.02em;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.section {
  padding: 120px 0;
}

/* HEADER section */
header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-nav-container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  column-gap: 40px;
}
.nav-address-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  column-gap: 40px;
}
.logo-header {
  margin-right: 76px;
}
.logo-accent {
  color: #4d5ae5;
}
.navigation {
  font-weight: 500;
}
.nav-link {
  padding: 24px 0;
  display: inline-block;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-address-link:hover,
.nav-address-link:focus {
  color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* HEADER section END */

/* HERO section */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}
.hero-order-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.04em;
  line-height: 1.5;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-order-btn:hover,
.hero-order-btn:focus {
  background-color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* HERO section END*/

/* FEATURES section*/
.features-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.features-item{
  max-width: 264px;
}
.feature-name {
  padding-bottom: 8px;
}
/* FEATURES section END*/

/* TEAM section*/
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  padding-top: 72px;
}
.team {
  background-color: #f4f4fd;
}
.team-member {
  background-color: #ffffff;
  max-width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-member-desc {
  text-align: center;
}
.card-content {
  padding: 32px 16px 32px;
}
/* TEAM section END*/

/* PORTFOLIO section */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  padding-top: 72px;
}
.portfolio-item{
  max-width: 360px;
}
.portfolio-card-content {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
/* PORTFOLIO section END*/

/* FOOTER section */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  width: 264px;
}
/* FOOTER section END*/
